.btn-blue {
    background-color: #1A237E;
    width: 200px;
    color: #fff;
    border-radius: 2px;
}

.btn-blue:hover {
    background-color: #003881;
    color: #fff;
    cursor: pointer;
}

.btn-red {
    background-color: #ee0a0a;
    width: 200px;
    color: #fff;
    border-radius: 2px;
}

.btn-red:hover {
    background-color: #bb1818;
    color: #fff;
    cursor: pointer;
}

/* Navbar Styles */
.navbar {
    background-color: #f8f8f8;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding-left: 30px;
    padding-right: 30px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #ddd;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear, opacity 0.3s linear;
    opacity: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    max-height: 500px;
    /* Adjust this value based on your content */
    opacity: 1;
}

.dropdown-content {
    transition: max-height 0.5s linear, opacity 0.5s linear;
}

.button-container {
    text-align: center;
}

.status-container {
    text-align: center;
}




























* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
    background-color: #fff;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar.active~.main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    padding-top: 10px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar.active .top .logo {
    color: #fff;
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 6px;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 2rem ;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ut li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ut li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ut li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ut li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ut li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    background-color: #fff;
    color: #12171e;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
}

.sidebar ut li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ut li:hover .tooltip {
    display: none;
}
